body {
    margin: 0px;
    background-color: rgb(240,240,240);
    font-size: 1vw;
    font-family: arial, sans-serif;

    /* position: relative; */
  }

  /* p{} */
  .ui{
    position: absolute;

    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    pointer-events: none;

  }

  .trigger{
    position: absolute;

    width: 3em;
    height: 3em;
    background-color: rgb(255, 238, 0);

    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 2em;

    pointer-events: initial;

    opacity:0;
    transition: opacity 0.2s;
  }

  .trigger.is--visible{
    opacity:1
  }

  /* .three-container{} */
