body {
  margin: 0px;
  background-color: rgb(240, 240, 240);
  background: linear-gradient(45deg, rgba(255,0,255,1) 0%, rgba(0,0,255,1) 100%);
  font-size: 1vw;
  line-height: 1;
  font-family: arial, sans-serif;
}

p {
  font-size: 1em;
}
@media screen and (min-width:2000px) {
  body {
    font-size: 0.75vw;
  }
}
@media screen and (max-width:1000px) {
  body {
    font-size: 2vw;
  }
}

@media screen and (max-width:500px) {
  body {
    font-size: 4vw;
  }
}


.ui {
  position: absolute;
  overflow: hidden;

  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  pointer-events: none;

}


.trigger-text {
  font-size: 1em;
  font-weight: bold;
  line-height: 0;
}

.trigger-label-text {
  font-size: 1em;
  /* font-weight: bold; */
  line-height: 1.25;
}



.trigger {
  position: absolute;

  padding: 0.4em 0.8em;
  background-color: rgb(255, 238, 0);

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 2em;

  pointer-events: initial;

  opacity: 0;
  transition: opacity 0.2s;
  transition: background-color 0.2s;
}

.trigger.is--visible {
  opacity: 1
}

.trigger-label {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 0.5em 1em;
  border-radius: 1em;

  min-width: 10em;
  position: absolute;
  top: 110%;

  opacity: 0;

  /* white-space: nowrap; */
  text-align: center;
}

/* #trigger-02 .trigger-label{
    left: auto;
    right: 4em;
  } */

.trigger:hover {
  background-color: rgb(255, 255, 255);
}

/* .trigger:hover .trigger-label {
  opacity: 1;
} */

.trigger.is--open {
  background-color: rgb(255, 255, 255);
}


.trigger.is--open .trigger-label {
  opacity: 1
}

/* .three-container{} */